<div class="login-screen">
  <div class="login-box">
    
    <div class="user-avatar-container">
      <img src="/user-icon.png" alt="User" class="user-avatar-img">
    </div>

    <form class="login-form">
      <div class="input-container">
        <i class="bi bi-person"></i> <input type="text" placeholder="Username">
      </div>
      
      <div class="input-container">
        <i class="bi bi-lock"></i> <input type="password" placeholder="Password">
      </div>

      <div class="form-actions">
        <label class="remember-me">
          <input type="checkbox"> Guardar datos
        </label>
        <a href="#" class="forgot-password">Olvidaste la contraseña?</a>
      </div>

      <button type="submit" class="btn-login-submit">Ingresar</button>
    </form>

  </div>
</div>